
<div id="medications">
  <div class="medication-fields">
    <div class="form-group">
      <%= f.label :medicine_name, '薬名' %>
      <%= f.text_field :medicine_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :timing, '飲むタイミング' %>
      <%= f.text_field :timing, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :individual, '個数' %>
      <%= f.text_field :individual, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :days_supply, '何日分' %>
      <%= f.text_field :days_supply, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :notes, '備考' %>
      <%= f.text_area :notes, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= link_to '薬を削除', '#', class: 'remove-medication-field btn btn-danger' %>
    </div>
  </div>
</div>
<div class="form-group">
  <%= button_to '薬を追加', '#', id: 'add-medication', class: 'btn btn-primary' %>
</div>

