
<%= render "shared/second-header"%>

<%= form_with model: @user, url: user_session_path, class: "form-signin", local: true do |f| %>
  <div class="container w-50">
    <h1 class="text-center">
      ログイン画面
    </h1>

    <div class="mb-3">
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>

    <div class="mb-3">
      <label class="form-label">メールアドレス</label>
      <span >必須</span>
      <%= f.email_field :email, class: "form-control", id: "floatingInput", placeholder:"PC・携帯どちらでも可", autofocus: true %>
    </div>
    <div class="mb-3">
      <label class="form-label">パスワード</label>
      <span >必須</span>
      <%= f.password_field :password, class: "form-control", id: "floatingPassword", placeholder:"パスワード" %>
    </div>
    <br>
    <div class="text-center">
      <%= f.submit "ログイン" ,class:"btn btn-lg btn-primary" %>
    </div>
  </div>
<% end %>